<div class="d-flex flex-column mb-1 review-comment ">
  <div class="d-flex review-stars">
    <%review.rating.times do  %>
      <i class="fa-solid fa-star" style="color: #ff6c0a;"></i>
    <% end %>
  </div>
  <p><%= review.comment %></p>
  <p>Posted By: <%= review.user.full_name %> At <%= review.posted_time %> </p>
</div>
