  <%= render "shared/navbar" %>
<div class="container">
  <div class="headers-icons">
    <div class ="headers">
      <h2>Place Name</h2>
      <h3>Place brief description</h3>
    </div>
    <div class="icons">
      <h2>Add icons here</h2>
    </div>
  </div>
</div>
