<div class="container d-flex flex-column">
  <div class="d-flex">
    <div class="profile-picture">
      <%= image_tag 'default_images/profile_picture.png', alt: "Profile picture of a person", class: "profile-picture-size" %>
    </div>
    <div class="name-info"></div>
  </div>
</div>
