.cards {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem 10rem;
  margin-bottom: 3rem;
}

.cards-second-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px 17px;

}

.cta-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.cta {
  background: #333;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 315px;


  &:hover {

    img {
      top: -10%;
      filter: brightness(70%);
    }

    .text {
      top: 50%;
    }
  }

  img {
    bottom: 0;
    filter: brightness(100%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 115%;
    height: 110%;
  }

  .text {
    top: 85%;
    padding: 15px;
    position: absolute;
    transition: 0.5s ease-in-out;

    h2 {
      color: #fff;
      text-shadow: 0px 2px 2px black;
      display: inline-block;
      font-weight: 300;
      margin-bottom: 5px;
      position: relative;
    }

    p {
      color: #fff;
      font-weight: 300;
    }
  }
}
