.form-container {
  background-size: 550px;
  margin: 3rem auto;
  background-image: url("nerimaru-face.png");
  color: black;
  text-shadow: 1px 1px 2px white;
  background-repeat: space;


  .form-btn {
    background-color: #285430;
    color: white;
    margin: 1rem auto;
  }
}
