.small-header {
  font-family: "Bona Nova";
  color: #63372C;
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

.headers-icons {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.headers {
  width: 60%;
}
