* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 10px auto;
  padding: 0;
  background-color: #CEEDC7;
  width: 55%;
  height: 65px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: #285430;
  text-align: center;
  padding: 13px 49px;
  font-family: 'Bona Nova';
  font-size: 26px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #CEEDC7;
  color: #8B9A46;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #CEEDC7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.foods {
  margin: 2px 12px;
}

.experiences {
  margin: 2px 45px;
}

.dropdown-content a {
  color: #285430;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Bona Nova';
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #CEEDC7;
}

.dropdown:hover .dropdown-content {
  display: block;
}
