.navbar-lewagon {
  justify-content: space-between;
  background: #F7D4BC;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin: -6px auto;
}

.navbar-lewagon li {
  font-family: "Bona Nova";
  color: #63372C;
  font-size: 22px;
}

.navbar-lewagon a {
  font-family: "Bona Nova";
  color: #63372C;
}

.avatar {
  width: 50px;
}

#navbar-title {
  font-family: "Bona Nova";
  color: #63372C;
  margin: 10px auto;
}
