// input {
//   border-radius: 8px;
//   width: 215px;
// }

.search {
  padding: 6px;
  margin-top: 4px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 4px;
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.search-options {
  display: flex;
  justify-content: space-between;
  width: 90%;

  .input1 {
    padding-left: 5px;
  }
}
